.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

a{
  text-decoration: none;

}
 li{
  list-style: none;
  
 }

 .container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
 }
 .icon{
  font-size: 2rem;
  cursor: pointer;
 }
.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.grid{
 display: grid;
 align-items: center;
}


.myform{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 30px;
  background-color: aqua;
}

@media(max-width:600px){
 .App-header h1{
  display: none;
 }
}